# =====================================
# LARAVEL E DEPENDÊNCIAS
# =====================================

/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/*
/storage/logs/*
bootstrap/cache/*

# =====================================
# AMBIENTE
# =====================================

.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
.auth.json

# =====================================
# DOCKER
# =====================================

docker/mysql/data/
docker/*/data/
*.pid

# =====================================
# EDITORES / IDEs
# =====================================

/.idea
/.fleet
/.nova
/.phpunit.cache
/.zed

# VSCode – ignora tudo, menos configs úteis
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =====================================
# SISTEMA OPERACIONAL
# =====================================

.DS_Store
Thumbs.db

# =====================================
# MISC
# =====================================

*.log
