@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

/* Escanear os componentes customizados */
@source '../../../../app/View/Components/**/*.php';
@source '../../../views/components/**/*.blade.php';

/* Cores básicas */

:root {
    --cor-base: #A77022;
    --claro-1: #C58A33;
    --claro-2: #E0A856;
    --claro-3: #F2D4A3;
    --escuro-1: #85561A;
    --escuro-2: #5E3C12;
    --escuro-3: #3B250A;
    --neutro-1: #F8F5F2;
    --neutro-2: #AFA9A2;
    --neutro-3: #2B2B2B;
}

/* Top Bar */

.logo-name {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #A77022;
}

/* Side Bar */

.fi-sidebar-item-btn {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    row-gap: 0.5em;

    svg, span {
        margin: auto;
        color: var(--neutro-3);
    }

    svg {
        width: 5em;
        height: 2.75em;
        padding: 10px;
        border-radius: 30px
    }
}

.fi-sidebar-item-icon:hover {
    background-color: var(--claro-3);
    transition-duration: 100ms;
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-sidebar-item-icon {
    background-color: var(--claro-2);
}

.fi-sidebar-item>.fi-sidebar-item-btn {
    background-color: var(--color-gray-50);
}

.fi-sidebar-nav {
    overflow: clip;
    height: fit-content;
}

#new-project {
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: .875em;
    padding: 16px 16px;
    margin: 0 auto;
    background-color: var(--claro-2);
    color: var(--escuro-3);
    box-shadow: var(--neutro-2) 1px 1px 2px;

    .fi-icon {
        margin: 0;
        padding: 0;
        width: 1.5em;
        color: inherit;
    }

    span {
        color: inherit;
    }
}

#new-project:hover {
    background-color: var(--escuro-1);
    color: var(--claro-3);

    span {
        color: inherit;
    }
}

/* User Menu */

.user-menu {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1rem;
    margin: auto;
    width: 90%;

    aside {
        margin: auto 0;
    }

    button {
        margin: auto;
        width: 100%;
        background-color: var(--claro-3);
        border: var(--escuro-1) solid 1px;
        box-shadow: var(--neutro-2) 1px 1px 2px;
    }
}

.user-info {
    display: flex;
    flex-direction: row;
    column-gap: 1em;

    .user-name {
        font-weight: 600;
    }

    .user-position {
        font-weight: 400;
        font-size: .8em;
    }
}

.footer {
    text-align: center;
    align-content: center;
    height: 2em;
    color: var(--neutro-2);
}


.fi-wi-stats-overview-stat {
    justify-items: center;
}

.fi-wi-stats-overview-stat-value {
    width: fit-content;
    margin: auto;
}

.fi-wi-stats-overview-stat-label-ctn {
    width: fit-content;
    margin: auto;
}


.fi-header {
    &.fi-header-has-breadcrumbs {
        & .fi-header-actions-ctn {
            @media (width >= 40rem) {
                margin-top: calc(var(--spacing) * 0);
            }
        }
    }
}

.fi-sc {
    &.fi-sc-has-gap {
        &.fi-sc-dense {
            gap: calc(var(--spacing) * 6);
        }
    }
}

.fi-icon {
    &.fi-size-2xl {
        width: calc(var(--spacing) * 9);
        height: calc(var(--spacing) * 9);
    }
}

.hide-header {
    thead {
        display: none;
    }
}

.fi-ta-header-toolbar > .fi-ta-actions {
    width: 100%;
}

.fi-ta-ctn {
    & .fi-ta-header-toolbar {
        padding: 0.3em 1em;
    }
}

.fi-ta-ctn {
    & .fi-ta-header {
        &.fi-ta-header-adaptive-actions-position {
            & .fi-ta-actions {
                gap: 1.5em;
            }
        }
    }
}
